@mixin o-sans-400($size) {
    font: 400 #{$size}px 'Open Sans', sans-serif;
}

@mixin o-sans-600($size) {
    font: 600 #{$size}px 'Open Sans', sans-serif;
}

@mixin o-sans-700($size) {
    font: 700 #{$size}px 'Open Sans', sans-serif;
}

@mixin q-sans-400($size) {
    font: 400 #{$size}px 'Quattrocento Sans', sans-serif;
}

@mixin q-sans-700($size) {
    font: 700 #{$size}px 'Quattrocento Sans', sans-serif;
}
