@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'func';

// RESET STYLES

* {
    margin-top: 0;
}

body {
    margin: 0;
}

//GLOBAL STYLES

.wrapper  {
    max-width: px(1140);
    margin: 0 auto;
    padding: px(100) px(20);
}

.inline-reset {
    font-size: 0;
    line-height: 0;
}

h2 {
    @include q-sans-400(36, 39);
    margin-top: 0;
    margin-bottom: px(63);
    padding-left: 15px;
    border-left: 10px solid $grey2;
    color: $black2;
    text-transform: uppercase;

}

h3,
dt {
    @include q-sans-400(16, 19);
    margin-bottom: px(16);
    color: $black2;
    text-transform: uppercase;
}

p,
dd {
    @include o-sans-400(16, 26);
    color: $grey;
    margin: 0;
}

.btn {
    @include q-sans-400(14, 17);
    display: inline-block;
    margin-left: px(11);
    padding: px(12) px(20);
    border: px(2) solid $white1;
    border-radius: px(5);
    background-color: $transparent;
    color: $white1;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        border-color: $turquoise;
        background-color: $turquoise;
    }

    &:first-of-type {
        margin-left: 0;
    }
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social__link {
    display: block;
    margin-left: px(17);
    padding: px(9);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;

    &:first-child {
        margin-left: 0;
    }

    &--big {
        margin: 0 px(2) 0 0;
        padding: px(30);
        background-color: $grey1;
        background-size: 35%;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $grey2;
        }
    }
}

.social__icon {
    &-fb {
        background-image: url('../images/006-facebook-logo.svg');
    }
    &-tw {
        background-image: url('../images/001-twitter-logo-silhouette.svg');
    }
    &-git {
        background-image: url('../images/002-github-logo.svg');
    }
    &-drb {
        background-image: url('../images/001-dribble-logo.svg');
    }
    &-behance {
        background-image: url('../images/005-behance-logo.svg');
    }
    &-skype {
        background-image: url('../images/009-skype-logo.svg');
    }
    &-linkedin {
        background-image: url('../images/008-linkedin-letters.svg');
    }
}

// HEADER

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: $dark-slate-grey1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: px(1140);
    margin: 0 auto;
    padding: px(25) px(20);
}

.header__logo img {
    vertical-align: top;
}

.menu__link {
    @include o-sans-400(14, 17);
    display: inline-block;
    margin-left: px(10);
    padding: px(5) px(9);
    border: px(2) solid $transparent;
    border-radius: px(4);
    color: $white2;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        border-color: $white2;
    }

    &--active {
        border-color: $turquoise;
        color: $turquoise;
    }
}


// HOME

.home {
    @include o-sans-400(16, 19);
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white1;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: px(80);
    min-height: px(500);
    color: $white1;

    h2 {
        margin-bottom: px(31);
        padding-left: 0;
        color: $white1;
        border: 0;
    }

    p {
        margin-bottom: px(41);
        color: $white2;
    }
}

.home__inner {
    max-width: px(650);
}

// ABOUT

.about__container {

    span {
        font-weight: 700;
    }
}

.about__content {
    display: flex;
    align-items: flex-start;

    p {
        margin-bottom: px(50);
    }
}

.about__mission {
    width: 60%;
    padding-right: px(30);
}

.about__goals {
    // position: relative;
    width: 40%;
    padding-left: px(70);
    margin-bottom: 0;

    dd {
        margin-bottom: px(30);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.goals__num {
    position: relative;
}

.goals__num::before {
    @include q-sans-400(20, 23);
    content: '';
    display: block;
    position: absolute;
    top: px(2);
    left: px(-60);
    padding: px(13);
    background-color: $turquoise;
    color: $white1;
}

.goals__num--1::before {
    content: '01';
}

.goals__num--2::before {
    content: '02';
}

.goals__num--3::before {
    content: '03';
}

.goals__goals-item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.goals-item__number {
    display: inline-block;
    padding: 12px 14px;
    background-color: $turquoise;
    color: $white1;
    font-size: 20px;
}

.goals-item__content {
    display: inline-block;
    width: 87%;
    padding-left: 15px;
    vertical-align: top;
}



// WORK

.work {
    background-color: $dark-slate-grey2;
}

.work__container {
    padding-top: 94px;
    padding-bottom: 60px;
}

.work__caption {
    @include q-sans-400(36, 39);
    margin-bottom: 53px;
    padding-left: 10px;
    border-left: 10px solid $grey3;
    color: $white1;
    text-transform: uppercase;
}

.portfolio {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-bottom: 57px;
    width: 100%;
}

.portfolio__item {
    margin-bottom: 27px;

    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    &:hover img {
        vertical-align: top;
        opacity: .5;
    }
}


.portfolio__link {
    display: block;
    position: relative;
    bottom: 100%;
    height: 100%;
    text-decoration: none;

    span {
        @include q-sans-400(50, 53);
        position: absolute;
        top: 30%;
        left: 45%;
        opacity: 0;
        color: $white1;
    }

    p {
        @include q-sans-400(18, 21);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 21px;
        opacity: 0;
        background-color: $dark-slate-grey3;
        color: $white1;
        text-transform: uppercase;
    }
}

.portfolio__link:hover p,
.portfolio__link:hover span {
    opacity: 1;
}

.work__link {
    @include q-sans-400(14, 17);
    display: table;
    margin: auto;
    padding: 12px 16px;
    border: 2px solid $white1;
    border-radius: 5px;
    color: $white1;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        border-color: $turquoise;
        background-color: $turquoise;
    }
}

// SERVICES

.services__container {
    padding-top: 94px;
    padding-bottom: 78px;
}

.services__caption {
    @include q-sans-400(36, 39);
    margin-bottom: 85px;
    padding-left: 10px;
    border-left: 10px solid $grey2;
    color: $black2;
    text-transform: uppercase;
}

.services__content {
    @include o-sans-400(16, 19);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 0 15px;
    color: $grey;
    line-height: 26px;
    text-align: center;
}

.services__item {
    width: 21%;
    margin-bottom: 86px;

    &:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
}

.services__icon {
    width: 48px;
    margin-bottom: 24px;
}

.services__service-name {
    @include q-sans-400(16, 19);
    margin-bottom: 20px;
    color: $black2;
    text-transform: uppercase;
}

// FEATURES

.features {
    background-color: $dark-slate-grey2;
}

.features__container {
    padding-top: 94px;
    padding-bottom: 114px;
}


.features__caption {
    @include q-sans-400(36, 39);
    margin-bottom: 53px;
    padding-left: 10px;
    border-left: 10px solid $grey3;
    color: $white1;
    text-transform: uppercase;
}

.features__content {
    @include o-sans-400(16, 19);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    color: $white2;
    line-height: 26px;
    margin: 0 -1%;
}

.features__item {
    width: 33.33%;
    padding: 0 1%;
}

.features__image {
    width: 100%;
    margin-bottom: 45px;
}

.features__name {
    @include q-sans-400(16, 19);
    margin-bottom: 22px;
    color: $white1;
    text-transform: uppercase;
}

// FOOTER

.footer {
    @include o-sans-400(14, 17);
    border-top: 1px solid $turquoise;
    background-color: $dark-slate-grey2;
    color: $white1;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    p {
        margin: 0;
    }
}
