@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'func';

// RESET STYLES

* {
    margin-top: 0;
}

button {
    outline: 0;
}

//GLOBAL STYLES

html {
    @include o-sans-400(16, 26);
    color: $grey;

    @media (max-width: 768px) {
        font-size: px(14);
    }

}

body {
    margin: 0;
    padding-top: 80px;
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 20px;
}

h1 {
    @include q-sans-400(36, 39);
    margin-bottom: 22px;
    text-transform: uppercase;
}

h2 {
    @include q-sans-400(36, 39);
    margin-bottom: 63px;
    padding-left: 15px;
    border-left: 10px solid $grey2;
    color: $black2;
    text-transform: uppercase;

}

h3 {
    @include q-sans-400(16, 19);
    margin-bottom: 16px;
    color: $black2;
    text-transform: uppercase;
}

p {
    margin-bottom: 35px;
}

.btn {
    @include q-sans-400(14, 17);
    display: inline-block;
    margin-left: 11px;
    padding: 12px 20px;
    border: 2px solid $white1;
    border-radius: 5px;
    background-color: $transparent;
    color: $white1;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;

    &:hover {
        border-color: $turquoise;
        background-color: $turquoise;
    }

    &:first-of-type {
        margin-left: 0;
    }
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        margin-left: 17px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;

        img {
            width: 18px;
            height: 18px;
            vertical-align: top;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &--big a {
        margin: 0 2px 0 0;
        padding: 19px;
        background-color: $grey1;

        img {
            width: 22px;
            height: 22px;
            vertical-align: top;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $grey2;
        }
    }
}

// HEADER

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: $dark-slate-grey1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px 20px;

    img {
        vertical-align: top;
    }
}

.header__menu {
    display: flex;
}

.menu__link {
    @include o-sans-400(14, 17);
    margin-left: 16px;
    padding: 5px 9px;
    border: 2px solid $transparent;
    border-radius: 4px;
    color: $white2;
    text-decoration: none;
    text-transform: uppercase;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        border-color: $white2;
    }

    &--active {
        border-color: $turquoise;
        color: $turquoise;
    }

    @media (max-width: 960px) {
        margin-left: 2px;
    }
}


// PROMO-SECTION

.promo-section {
    @include o-sans-400(16, 19);
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white1;
}

.promo-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 435px;

    p {
        color: $white2;
    }

    @media (max-width: 1024px) {
        min-height: auto;
    }
}

.promo-section__holder {
    max-width: 60%;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.promo-section__btn-holder {
    font-size: 0;
    line-height: 0;
}

// ABOUT

.about span {
    font-weight: 700;
}

.about__content {
    display: flex;

    @media (max-width: 768px) {
        display: block;
    }
}

.about__mission {
    width: 62%;
    padding-right: 30px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 35px;
    }
}

.about__goals {
    width: 38%;
    margin-bottom: 0;
    padding-left: 70px;
    counter-reset: goalsCounter;
    box-sizing: border-box;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.goals__item {
    position: relative;
    margin-bottom: 30px;
    list-style: none;

    h2 {
        margin-bottom: 30px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        @include q-sans-400(20, 23);
        content: '0'counter(goalsCounter);
        counter-increment: goalsCounter;
        display: block;
        position: absolute;
        top: 2px;
        left: -70px;
        padding: 13px;
        background-color: $turquoise;
        color: $white1;
    }
}

// WORK

.work {
    background-color: $dark-slate-grey2;

    h2 {
        color: $white1;
        border-color: $grey3;
    }
}


.portfolio {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-bottom: 57px;
}

.portfolio__item {
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
    margin-bottom: 3%;
    width: 32%;
    box-sizing: border-box;

    @media (max-width: 768px) {
    width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

    span {
        @include q-sans-400(50, 53);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        color: $white1;

        @media (max-width: 960px) {
            font-size: 4vw;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    p {
        @include q-sans-400(18, 21);
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        margin-bottom: 0;
        opacity: 0;
        background-color: $dark-slate-grey3;
        color: $white1;
        text-transform: uppercase;

        @media (max-width: 960px) {
            padding: 5%;
            font-size: 2vw;
        }
    }

    @media (min-width: 769px) {
        &:hover p,
        &:hover span {
            opacity: 1;
        }

        &:hover img {
            opacity: .5;
        }

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
}


.work__holder {
    text-align: center;
}

// SERVICES

.services__container {
}

.services__content {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    text-align: center;
    margin: 0 -15px;

    @media (max-width: 480px) {
        display: block;
    }
}

.services__item {
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 72px;
    padding: 0 15px;

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 35px;
        vertical-align: top;
    }

    p:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 960px) and (min-width: 481px) {
        width: 50%;
        margin-bottom: 25px;

        img {
            margin-bottom: 15px;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 25px;

        img {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 961px){

        &:nth-last-child(-n+4) {
            margin-bottom: 0;
        }
    }
}



// FEATURES

.features {
    background-color: $dark-slate-grey2;

    h2 {
        color: $white1;
        border-color: $grey3;
    }

    h3 {
        color: $white1;
    }
}

.features__content {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: 0 -1.3%;
    overflow: hidden;

    @media (max-width: 480px) {
        display: block;
    }
}

.features__item {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 1.3%;

    img {
        width: 100%;
        margin-bottom: 52px;
        vertical-align: top;
    }

    p:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 30px;

        img {
            margin-bottom: 20px;
        }
    }
}

// FOOTER

.footer {
    border-top: 1px solid $turquoise;
    background-color: $dark-slate-grey2;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;

    p {
        margin: 0;
    }
}
